<%- include("partials/header"); -%>

<h1>Home</h1>
<h2>Welcome</h2>
<p><%= startingContent %></p>

<% posts.forEach((post) => { %>
    <% let navPost = "/" + post.title.replace ( " ", "" ).toLowerCase (); %>
    <h2><a href=<%= navPost %>><%= post.title %></a></h2>
    <p><%= post.body %></p>
<% }); %>

<%- include("partials/footer"); -%>